/*
 * Tweaks and overrides to hyde.css
 */

@font-face {
    font-family: 'Jennifer Lynne';
    src: url('/fonts/JenniferLynne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sidebar-about h1 {
  display: block;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 35px;
  font-family: "Jennifer Lynne", serif;
  font-size: 2.5rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.sidebar-about h1 a {
  text-decoration: none !important;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-nav.social-links li {
  display: inline-block;
}

.sidebar-about img {
    margin: auto !important;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.sidebar-sticky {
    text-align: center;
}

.powered-by {
    font-size: 10px;
}
